<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link th:href="@{/css/petclinic.css}"  type="text/css" rel="stylesheet"/>
</head>

<body>

	<table>
		<thead>
			<tr>
				<td>*Id</td>
				<td>*First Name</td>
				<td>*Last Name</td>
			</tr>
		</thead>

		<th:block th:each="owner:${owners}">

			<tr>
				<td th:text="${owner.id}" />
				<td th:text="${owner.firstName}" />
				<td th:text="${owner.lastName}" />
			</tr>

		</th:block>
	</table>

</body>

</html>
